<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=A, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Advanced React</title>
  </head>
  <body>
    <div id="root">Loading...</div>

    <script src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
